<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\home.css' %}">
    <title>QrCode Project</title>
</head>
<body>

<div>
    <h1>Qr Code Project</h1>
            <form method="post" >
                {% csrf_token %}
                <div class=" border">
                    <input type="text" name="qr_text" placeholder="Enter data Here" ><br>
                    <button class="btn " type="submit" name="action">Generate QR Code</button>
                  </div>
            </form>
</div>
 <div class="second_div">
    <h3>Your Qr Code is:
        <div class="qr">
             {{ svg|safe }}
        </div>
    </h3>    
</div>
<div class="footer">
    <p> Copyrightby@ HuzaifaTahir</p>
</div>
</body>
</html>
